@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600");
body {
  position: relative;
  background: #f1f1f1;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.container > * {
  margin: 5px;
}

h2 {
  color: #DF7A80;
}

#next {
  position: absolute;
  top: 20px;
  left: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form > * {
  margin: 10px;
}

.display {
  color: #DF7A80;
  font-size: 30px;
  letter-spacing: 1px;
}

input {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  color: #DF7A80;
  font-size: 14px;
  padding-left: 10px;
  box-shadow: 0 3px 0 rgba(71, 84, 99, 0.3);
}

button {
  width: 100px;
  height: 32px;
  background: #FFF;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #475463;
}

.error {
  font-size: 12px;
  letter-spacing: 1px;
}

.no {
  animation: 0.5s shake infinite ease;
}

.creature {
  width: 100px;
  height: 100px;
  background: #DF7A80;
  border-radius: 100% 100% 100% 0;
  transform: rotate(-45deg);
}
.creature:before, .creature:after {
  position: absolute;
  content: '';
}
.creature:before {
  top: 30px;
  left: 40px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 100%;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
  0% {
    transform: translateX(0);
  }
}
